In [1]:
#Importing all the libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import glob
pd.options.mode.chained_assignment = None

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
folder = glob.glob("C:\\Users\\vaibh\\Desktop\\file(01)")
folder

['C:\\Users\\vaibh\\Desktop\\file(01)']

In [4]:
for file in folder:
    files = glob.glob(file + '/*.csv')
files

['C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_02012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_03012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_06012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_07012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_08012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_09012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_10012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_13012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_14012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_15012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_16012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_17012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_20012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_21012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_22012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_23012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_24012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_27012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_28012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_29012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_30012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_31012020.csv']

In [5]:
tradelog = pd.DataFrame(columns = ['Ticker', 'Entry Time', 'Entry Price', 'Stop Loss Exit', 'Exit Time', 'Exit Price'])
tradelog

Empty DataFrame
Columns: [Ticker, Entry Time, Entry Price, Stop Loss Exit, Exit Time, Exit Price]
Index: []

In [6]:
xx = pd.read_csv(files[1])
xx.insert(0,'Timestamp',xx['Date'] + " " + xx['Time'])
xx['Timestamp'] = pd.to_datetime(xx['Timestamp'] , format = '%d/%m/%Y %H:%M:%S')
xx.drop('Date' , axis = 1 , inplace = True)
xx.drop('Time' , axis = 1 , inplace = True)
xx

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
0,2020-01-03 10:55:59,ACC30JAN201340PE,2.30,2.30,2.3,2.30,800,800
1,2020-01-03 10:56:59,ACC30JAN201340PE,2.30,6.45,2.3,6.45,800,1600
2,2020-01-03 09:31:59,ACC30JAN201380PE,5.90,5.90,5.9,5.90,400,22400
3,2020-01-03 09:32:59,ACC30JAN201380PE,5.90,6.30,5.9,6.30,400,22400
4,2020-01-03 12:10:59,ACC30JAN201380PE,7.80,7.80,7.8,7.80,400,22400
...,...,...,...,...,...,...,...,...
293804,2020-01-03 15:19:59,ZEEL-II,275.95,275.95,275.5,275.60,3400,239700
293805,2020-01-03 15:20:59,ZEEL-II,275.60,275.90,275.6,275.90,1700,239700
293806,2020-01-03 15:23:59,ZEEL-II,275.90,275.90,275.5,275.50,8500,241400
293807,2020-01-03 15:27:59,ZEEL-II,276.00,276.00,276.0,276.00,5100,243100
293808,2020-01-03 15:29:59,ZEEL-II,276.40,276.40,276.4,276.40,1700,244800

In [7]:
ticker = 'BANKNIFTY'
xx['Ticker'] = xx['Ticker'].apply(str)
data = xx[xx['Ticker'].apply(lambda a : a[0:len(ticker)]==ticker)]
data

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
28026,2020-01-03 13:53:59,BANKNIFTY06FEB2032200CE,800.00,800.00,800.00,800.00,40,0
28027,2020-01-03 12:37:59,BANKNIFTY09JAN2027700CE,4450.00,4450.00,4450.00,4450.00,20,0
28028,2020-01-03 13:16:59,BANKNIFTY09JAN2027700CE,4450.00,4450.00,4367.55,4367.55,20,20
28029,2020-01-03 09:36:59,BANKNIFTY09JAN2027800PE,1.25,1.35,0.85,1.35,8740,0
28030,2020-01-03 09:37:59,BANKNIFTY09JAN2027800PE,1.25,1.80,1.20,1.70,16560,0
...,...,...,...,...,...,...,...,...
61261,2020-01-03 15:25:59,BANKNIFTY-III,32391.30,32394.25,32391.30,32394.25,20,5920
61262,2020-01-03 15:26:59,BANKNIFTY-III,32394.25,32409.00,32394.25,32409.00,20,5920
61263,2020-01-03 15:27:59,BANKNIFTY-III,32409.00,32420.60,32409.00,32420.60,40,5920
61264,2020-01-03 15:28:59,BANKNIFTY-III,32420.60,32420.60,32402.50,32402.50,40,5920
61265,2020-01-03 15:29:59,BANKNIFTY-III,32402.50,32405.90,32385.15,32386.10,120,5920

In [8]:
puts = data[data['Ticker'].apply(lambda a : a.strip()[-2:]=='PE')]
futures = data[data['Ticker'].apply(lambda a : a.strip()[-2:]=='-I')]

In [9]:
expiry = puts[puts['Volume'] == puts['Volume'].max()]['Ticker'].iloc[0][:len(ticker)+5]
expiry

'BANKNIFTY09JAN'

In [10]:
strike_ATM = int(futures['Open'].iloc[0].round(-2))
strike_ATM

32400

In [11]:
strike_ITM = strike_ATM+200
strike_ITM_PE = str(strike_ITM)+'PE'
strike_ITM_PE

'32600PE'

In [12]:
strike_OTM = strike_ATM-200
strike_OTM_PE = str(strike_OTM)+'PE'
strike_OTM_PE

'32200PE'

In [13]:
puts_ITM = puts[puts['Ticker'].apply(lambda a: a.strip()[-7:]==strike_ITM_PE)]
puts_ITM.columns= ["Timestamp", "PE_Ticker_ITM", "PE_Open_ITM", "PE_High_ITM", "PE_Low_ITM", "PE_Close_ITM", "PE_Volume_ITM", "PE_Open_Interest_ITM"]
puts_ITM

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM
39917,2020-01-03 09:15:59,BANKNIFTY09JAN2032600PE,313.70,433.95,313.70,414.70,10840,37620
39918,2020-01-03 09:16:59,BANKNIFTY09JAN2032600PE,413.00,434.55,413.00,430.40,5140,37620
39919,2020-01-03 09:17:59,BANKNIFTY09JAN2032600PE,431.20,431.20,417.40,420.00,5020,38960
39920,2020-01-03 09:18:59,BANKNIFTY09JAN2032600PE,419.25,423.15,406.25,421.70,5520,38960
39921,2020-01-03 09:19:59,BANKNIFTY09JAN2032600PE,418.00,435.00,418.00,433.70,6640,38960
...,...,...,...,...,...,...,...,...
57789,2020-01-03 15:18:59,BANKNIFTY30JAN2032600PE,753.55,753.55,744.00,744.00,120,7520
57790,2020-01-03 15:21:59,BANKNIFTY30JAN2032600PE,744.00,744.60,740.00,740.00,60,7540
57791,2020-01-03 15:22:59,BANKNIFTY30JAN2032600PE,740.00,740.00,735.90,735.90,40,7540
57792,2020-01-03 15:23:59,BANKNIFTY30JAN2032600PE,735.90,735.90,725.10,725.10,20,7540
57793,2020-01-03 15:27:59,BANKNIFTY30JAN2032600PE,725.10,725.10,718.15,719.45,40,7600

In [14]:
puts_OTM = puts[puts['Ticker'].apply(lambda a: a.strip()[-7:]==strike_OTM_PE)]
puts_OTM.columns= ["Timestamp", "PE_Ticker_OTM", "PE_Open_OTM", "PE_High_OTM", "PE_Low_OTM", "PE_Close_OTM", "PE_Volume_OTM", "PE_Open_Interest_OTM"]
puts_OTM

,Timestamp,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
36916,2020-01-03 09:15:59,BANKNIFTY09JAN2032200PE,122.00,193.60,117.90,184.15,133100,336780
36917,2020-01-03 09:16:59,BANKNIFTY09JAN2032200PE,183.25,200.00,183.25,195.05,84320,336780
36918,2020-01-03 09:17:59,BANKNIFTY09JAN2032200PE,194.85,195.50,188.25,188.25,81380,345400
36919,2020-01-03 09:18:59,BANKNIFTY09JAN2032200PE,189.00,194.50,181.00,191.80,93200,345400
36920,2020-01-03 09:19:59,BANKNIFTY09JAN2032200PE,191.65,201.90,191.65,200.05,85460,345400
...,...,...,...,...,...,...,...,...
55707,2020-01-03 15:25:59,BANKNIFTY30JAN2032200PE,518.80,520.55,513.60,520.55,740,16900
55708,2020-01-03 15:26:59,BANKNIFTY30JAN2032200PE,520.55,520.55,514.30,514.30,300,16900
55709,2020-01-03 15:27:59,BANKNIFTY30JAN2032200PE,514.30,514.30,512.40,513.00,260,16020
55710,2020-01-03 15:28:59,BANKNIFTY30JAN2032200PE,513.00,523.15,513.00,523.15,40,16020
55711,2020-01-03 15:29:59,BANKNIFTY30JAN2032200PE,523.15,523.15,510.80,510.80,100,16020

In [15]:
trade_data = pd.merge(puts_ITM,puts_OTM, on = 'Timestamp')
trade_data

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
0,2020-01-03 09:15:59,BANKNIFTY09JAN2032600PE,313.70,433.95,313.7,414.70,10840,37620,BANKNIFTY09JAN2032200PE,122.00,193.60,117.90,184.15,133100,336780
1,2020-01-03 09:15:59,BANKNIFTY09JAN2032600PE,313.70,433.95,313.7,414.70,10840,37620,BANKNIFTY16JAN2032200PE,287.65,287.75,287.65,287.75,140,2140
2,2020-01-03 09:15:59,BANKNIFTY09JAN2032600PE,313.70,433.95,313.7,414.70,10840,37620,BANKNIFTY30JAN2032200PE,390.00,424.10,362.60,410.00,1000,18460
3,2020-01-03 09:15:59,BANKNIFTY30JAN2032600PE,602.00,602.00,602.0,602.00,20,7760,BANKNIFTY09JAN2032200PE,122.00,193.60,117.90,184.15,133100,336780
4,2020-01-03 09:15:59,BANKNIFTY30JAN2032600PE,602.00,602.00,602.0,602.00,20,7760,BANKNIFTY16JAN2032200PE,287.65,287.75,287.65,287.75,140,2140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,2020-01-03 15:29:59,BANKNIFTY09JAN2032600PE,541.55,547.65,539.1,540.45,1200,33480,BANKNIFTY16JAN2032200PE,378.65,382.80,378.65,382.80,20,1940
922,2020-01-03 15:29:59,BANKNIFTY09JAN2032600PE,541.55,547.65,539.1,540.45,1200,33480,BANKNIFTY30JAN2032200PE,523.15,523.15,510.80,510.80,100,16020
923,2020-01-03 14:06:59,BANKNIFTY30JAN2032600PE,760.00,760.00,755.0,755.00,20,7380,BANKNIFTY09JAN2032200PE,304.30,305.00,298.40,302.80,8120,411080
924,2020-01-03 14:11:59,BANKNIFTY30JAN2032600PE,755.00,755.00,755.0,755.00,80,7360,BANKNIFTY09JAN2032200PE,297.30,299.00,296.00,298.00,4660,410400
925,2020-01-03 14:11:59,BANKNIFTY30JAN2032600PE,755.00,755.00,755.0,755.00,80,7360,BANKNIFTY30JAN2032200PE,546.70,546.70,544.40,545.20,60,20240

In [16]:
#SHORTLISTING DATA BASED ON ENTRY AND EXIT TIME ONLY
Entry_time = "09:29:59"
trade_data = trade_data[trade_data['Timestamp'] >= pd.to_datetime(str(trade_data["Timestamp"].iloc[0].date())+" "+Entry_time)]
trade_data = trade_data[trade_data["Timestamp"] < pd.to_datetime(str(trade_data["Timestamp"].iloc[0].date())+" "+"15:15:00")]
trade_data.reset_index(drop=True, inplace=True)
trade_data

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
0,2020-01-03 09:29:59,BANKNIFTY09JAN2032600PE,427.30,431.50,427.30,429.95,680,47800,BANKNIFTY09JAN2032200PE,197.35,199.10,195.45,195.85,24860,348020
1,2020-01-03 09:29:59,BANKNIFTY09JAN2032600PE,427.30,431.50,427.30,429.95,680,47800,BANKNIFTY16JAN2032200PE,282.05,296.35,282.05,293.90,200,2140
2,2020-01-03 09:29:59,BANKNIFTY09JAN2032600PE,427.30,431.50,427.30,429.95,680,47800,BANKNIFTY30JAN2032200PE,427.20,433.00,427.20,433.00,2680,20840
3,2020-01-03 09:30:59,BANKNIFTY09JAN2032600PE,426.15,452.15,426.15,446.35,23900,47800,BANKNIFTY09JAN2032200PE,194.65,210.10,194.65,207.70,120460,348020
4,2020-01-03 09:30:59,BANKNIFTY09JAN2032600PE,426.15,452.15,426.15,446.35,23900,47800,BANKNIFTY16JAN2032200PE,293.00,306.40,292.75,305.25,560,2140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,2020-01-03 15:14:59,BANKNIFTY30JAN2032600PE,763.55,763.55,758.95,758.95,40,7460,BANKNIFTY09JAN2032200PE,295.05,301.70,295.05,297.10,17080,296540
794,2020-01-03 15:14:59,BANKNIFTY30JAN2032600PE,763.55,763.55,758.95,758.95,40,7460,BANKNIFTY30JAN2032200PE,549.00,549.00,549.00,549.00,20,19220
795,2020-01-03 14:06:59,BANKNIFTY30JAN2032600PE,760.00,760.00,755.00,755.00,20,7380,BANKNIFTY09JAN2032200PE,304.30,305.00,298.40,302.80,8120,411080
796,2020-01-03 14:11:59,BANKNIFTY30JAN2032600PE,755.00,755.00,755.00,755.00,80,7360,BANKNIFTY09JAN2032200PE,297.30,299.00,296.00,298.00,4660,410400
797,2020-01-03 14:11:59,BANKNIFTY30JAN2032600PE,755.00,755.00,755.00,755.00,80,7360,BANKNIFTY30JAN2032200PE,546.70,546.70,544.40,545.20,60,20240

In [17]:
#STOPLOSS LOGIC
PE_ticker_ITM = trade_data['PE_Ticker_ITM'].iloc[0]
PE_ticker_OTM = trade_data['PE_Ticker_OTM'].iloc[0]
PE_ITM_Entry_time = PE_OTM_Entry_time = trade_data['Timestamp'].iloc[0]
PE_ITM_Entry_price = trade_data['PE_Open_ITM'].iloc[0]
PE_OTM_Entry_price = trade_data['PE_Open_OTM'].iloc[0]

stop_loss_price_ITM = (PE_ITM_Entry_price)*((100+20)/100)
stop_loss_price_OTM = (PE_OTM_Entry_price)*((100-20)/100)
stop_loss = trade_data[(trade_data['PE_Open_ITM'] > stop_loss_price_ITM) | (trade_data['PE_Open_OTM'] < stop_loss_price_OTM)]
display(stop_loss)

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
6,2020-01-03 09:30:59,BANKNIFTY30JAN2032600PE,614.95,645.20,614.95,644.60,120,7700,BANKNIFTY09JAN2032200PE,194.65,210.10,194.65,207.70,120460,348020
7,2020-01-03 09:30:59,BANKNIFTY30JAN2032600PE,614.95,645.20,614.95,644.60,120,7700,BANKNIFTY16JAN2032200PE,293.00,306.40,292.75,305.25,560,2140
8,2020-01-03 09:30:59,BANKNIFTY30JAN2032600PE,614.95,645.20,614.95,644.60,120,7700,BANKNIFTY30JAN2032200PE,433.00,453.00,433.00,453.00,1680,20840
12,2020-01-03 09:31:59,BANKNIFTY30JAN2032600PE,644.60,654.15,644.60,653.05,100,7700,BANKNIFTY09JAN2032200PE,206.60,214.50,206.00,211.75,80060,348020
13,2020-01-03 09:31:59,BANKNIFTY30JAN2032600PE,644.60,654.15,644.60,653.05,100,7700,BANKNIFTY16JAN2032200PE,305.25,306.55,305.25,306.55,60,2140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,2020-01-03 15:14:59,BANKNIFTY30JAN2032600PE,763.55,763.55,758.95,758.95,40,7460,BANKNIFTY09JAN2032200PE,295.05,301.70,295.05,297.10,17080,296540
794,2020-01-03 15:14:59,BANKNIFTY30JAN2032600PE,763.55,763.55,758.95,758.95,40,7460,BANKNIFTY30JAN2032200PE,549.00,549.00,549.00,549.00,20,19220
795,2020-01-03 14:06:59,BANKNIFTY30JAN2032600PE,760.00,760.00,755.00,755.00,20,7380,BANKNIFTY09JAN2032200PE,304.30,305.00,298.40,302.80,8120,411080
796,2020-01-03 14:11:59,BANKNIFTY30JAN2032600PE,755.00,755.00,755.00,755.00,80,7360,BANKNIFTY09JAN2032200PE,297.30,299.00,296.00,298.00,4660,410400
797,2020-01-03 14:11:59,BANKNIFTY30JAN2032600PE,755.00,755.00,755.00,755.00,80,7360,BANKNIFTY30JAN2032200PE,546.70,546.70,544.40,545.20,60,20240

In [18]:
if stop_loss.empty:
    stop_loss_exit = 0
    PE_ITM_exit_time = CE_OTM_exit_time = trade_data['Timestamp'].iloc[-1]
    PE_ITM_exit_price = trade_data['PE_Open_ITM'].iloc[-1]
    PE_OTM_exit_price = trade_data['PE_Open_OTM'].iloc[-1]
else:
    stop_loss_exit = 1
    PE_ITM_exit_time = PE_OTM_exit_time = stop_loss['Timestamp'].iloc[0]
    PE_ITM_exit_price = stop_loss['PE_Open_ITM'].iloc[0]
    PE_OTM_exit_price = stop_loss['PE_Open_OTM'].iloc[0]

In [19]:
#Entry to tradelog
tradelog.loc[len(tradelog)] = [PE_ticker_ITM, PE_ITM_Entry_time, PE_ITM_Entry_price, stop_loss_exit, PE_ITM_exit_time, PE_ITM_exit_price]
tradelog.loc[len(tradelog)] = [PE_ticker_OTM, PE_OTM_Entry_time, PE_OTM_Entry_price, stop_loss_exit, PE_OTM_exit_time, PE_OTM_exit_price]
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price
0,BANKNIFTY09JAN2032600PE,2020-01-03 09:29:59,427.30,1,2020-01-03 09:30:59,614.95
1,BANKNIFTY09JAN2032200PE,2020-01-03 09:29:59,197.35,1,2020-01-03 09:30:59,194.65

In [20]:
tradelog['Buy'] = 0
tradelog['Sell'] = 0
for i in range(len(tradelog)):
    
    if tradelog['Ticker'].iloc[i].strip()[-7:] == strike_OTM_PE:
        tradelog['Buy'][i] = 1
        tradelog['Sell'][i] = 0
    elif tradelog['Ticker'].iloc[i].strip()[-7:] == strike_ITM_PE:
        tradelog['Sell'][i] = 1
        tradelog['Buy'][i] = 0
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell
0,BANKNIFTY09JAN2032600PE,2020-01-03 09:29:59,427.30,1,2020-01-03 09:30:59,614.95,0,1
1,BANKNIFTY09JAN2032200PE,2020-01-03 09:29:59,197.35,1,2020-01-03 09:30:59,194.65,1,0

In [21]:
#PNL
tradelog['PnL'] = 0
for i in range(len(tradelog)):
    if tradelog['Buy'][i] == 1 and tradelog['Sell'][i] == 0 :
        tradelog['PnL'][i] = 25*(tradelog['Exit Price'][i] - tradelog['Entry Price'][i])
    elif tradelog['Buy'][i] == 0 and tradelog['Sell'][i] == 1 :
        tradelog['PnL'][i] = 25*(tradelog['Entry Price'][i] - tradelog['Exit Price'][i])
    else:
        pass
tradelog['Cumulative_PnL'] = tradelog['PnL'].cumsum()
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell,PnL,Cumulative_PnL
0,BANKNIFTY09JAN2032600PE,2020-01-03 09:29:59,427.30,1,2020-01-03 09:30:59,614.95,0,1,-4691,-4691
1,BANKNIFTY09JAN2032200PE,2020-01-03 09:29:59,197.35,1,2020-01-03 09:30:59,194.65,1,0,-67,-4758